---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="A propos | Lucas Matusiak"
  description="A propos Lucas Matusiak Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos"
        tagline="Merci de prendre le temps de visiter mon portfolio. Découvrez ci-dessous un aperçu de mon parcours et de mes compétences."
      />
      <section>
        <h2 class="section-title">Parcours</h2>
        <div class="content">
          <p>
            Passionné par le développement et les nouvelles technologies, je
            suis spécialisé en développement web full-stack avec des expériences
            qui favorise mon intéret pour le front-end UX/UI. Mon parcours
            inclut une expérience en tant qu'alternant sur des projets
            d'envergure dans la santé sur des systèmes de gestion de dossiers
            patients (DPI), notamment avec <a href="https://maincare.com/"
              >Maincare</a
            >.
          </p>
          <p>
            Au fil de mes expériences, j'ai acquis des compétences en correction
            de bugs, en développement de solutions a grande échelle et en
            gestion de projets collaboratifs, dans des environnements complexes.
            Mettre en oeuvre un projet dans un contexte qui ont du sens en
            collaborant en équipe, est une source d'inspiration et de motivation
            dans mon quotidien.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Diplomes</h2>
        <div class="content">
          <p>
            J'ai récemment obtenu un Master MIAGE (Méthodes Informatiques
            Appliquées à la Gestion des Entreprises), où j'ai approfondi mes
            connaissances en développement logiciel, analyse de données, et
            gestion de projets informatiques stratégiques. Avant cela j'ai pu
            suivre un BTS services informatiques aux organisations option B
            solutions logicielles et applications métiers (SIO SLAM).
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Compétences</h2>
        <div class="content">
          <ul>
            <li>
              Développement full-stack : Javascript, Vuejs, Angular, Jquery,
              CSS, Java, SQL, API
            </li>
            <li>
              Environnement de développement : Docker, Maven, Visual Studio Code,
              Intellij Idea, Git
            </li>
            <li>
              Gestion de projet et collaboration : planification, coordination
              d'équipe, suivi des livrables, Scrum, Jira
            </li>
            <li>
              Analyse et résolution de bugs dans des environnements de
              production
            </li>
            <li>
              Connaissance des systèmes de gestion de dossiers patients
              informatisés (DPI)
            </li>
            <li>
              Excellentes compétences en communication et en travail d’équipe
            </li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
