---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Développement Full Stack</h2>
    <p>
      En tant que développeur full-stack junior, j’aborde chaque projet en
      consolidant mes bases en front-end et back-end, toujours prêt à apprendre
      et à relever de nouveaux défis.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Passionné par les défis techniques</h2>
    <p>
      J’aime explorer des solutions techniques qui demandent réflexion et
      innovation, que ce soit en développement pur ou en conception
      fonctionnelle, surtout dans un environnement agile.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Esprit d’équipe</h2>
    <p>
      Collaborer et avancer ensemble, c’est ce qui me motive. Travailler avec
      des équipes variées, en gardant un œil sur la qualité et les délais, est
      pour moi la clé d’un projet réussi.
    </p>
  </div>
</section>

<style>
  .box {
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.55); */
    background-color: var(--gray-999);
    border-radius: 1.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      padding: 2rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
